<?xml version="1.0" encoding="UTF-8"?>
<!--
SuiteId: {{ suite_id }}
TestId: {{ test_id }}
Suite Description: {{ suite_description }}
Test Description: {{ test_description }}
-->
<Product_Observational
 xmlns="http://pds.nasa.gov/pds4/pds/v1"
 xmlns:radar="http://pds.nasa.gov/pds4/radar/v1"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Identification_Area>
    <logical_identifier>urn:nasa:pds:radar-example:data:{{ product_id }}</logical_identifier>
    <version_id>1.0</version_id>
    <title>Radar Dictionary Test Product</title>
    <information_model_version>[IM_VERSION]</information_model_version>
    <product_class>Product_Observational</product_class>
    <Citation_Information>
      <editor_list>A. A. Testperson, Ed.</editor_list>
      <publication_year>2021</publication_year>
      <description>Regression test for radar namespace</description>
    </Citation_Information>
  </Identification_Area>
  <Observation_Area>
    <Time_Coordinates>
      <start_date_time>2017-12-15T23:36:07Z</start_date_time>
      <stop_date_time>2017-12-15T23:37:11Z</stop_date_time>
    </Time_Coordinates>
    <Investigation_Area>
      <name>None</name>
      <type>Other Investigation</type>
      <Internal_Reference>
        <lid_reference>urn:nasa:pds:context:investigation:individual.none</lid_reference>
        <reference_type>data_to_investigation</reference_type>
      </Internal_Reference>
    </Investigation_Area>
    <Observing_System>
      <name>Some Observing System</name>
      <Observing_System_Component>
        <name>Some Observatory</name>
        <type>Host</type>
      </Observing_System_Component>
      <Observing_System_Component>
        <name>Some Antenna</name>
        <type>Telescope</type>
      </Observing_System_Component>
    </Observing_System>
    <Target_Identification>
      <name>Some Asteroid</name>
      <type>Asteroid</type>
    </Target_Identification>
    <Discipline_Area>
{{ snippets.radar }}
    </Discipline_Area>
  </Observation_Area>
  <File_Area_Observational>
    <File>
      <file_name>No.Data</file_name>
      <local_identifier>file</local_identifier>
      <creation_date_time>2021-09-29T22:55:33Z</creation_date_time>
    </File>
    <Table_Delimited>
      <local_identifier>DOPPLER_SPECTRUM</local_identifier>
      <offset unit="byte">0</offset>
      <parsing_standard_id>PDS DSV 1</parsing_standard_id>
      <records>128001</records>
      <record_delimiter>Carriage-Return Line-Feed</record_delimiter>
      <field_delimiter>Comma</field_delimiter>
      <Record_Delimited>
        <fields>3</fields>
        <groups>0</groups>
        <Field_Delimited>
          <name>frequency</name>
          <data_type>ASCII_Real</data_type>
          <unit>Hz</unit>
          <description>Offset from Ephemeris frequency</description>
        </Field_Delimited>
        <Field_Delimited>
          <name>pol1</name>
          <data_type>ASCII_Real</data_type>
          <description>Polarization 1 normalized to unit standard deviation and zero mean in baseline</description>
        </Field_Delimited>
        <Field_Delimited>
          <name>pol2</name>
          <data_type>ASCII_Real</data_type>
          <description>Polarization 2 normalized to unit standard deviation and zero mean in baseline</description>
        </Field_Delimited>
      </Record_Delimited>
    </Table_Delimited>
  </File_Area_Observational>
</Product_Observational>
